.close {
  width: 50px;
  height: 50px;
  svg{
    transition: .3s;
  }
  &:hover svg{
    transform: rotate(180deg);
  }
}

.close--full-pagination {
  width: 25px;
  height: 25px;
  right: -22px;
  top: 4px;
  fill: #828282;
  .close__cross-svg {
    width: 25px;
    height: 25px;
  }
}

