.reviews__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 88.5%;
}

.reviews__item {
  width: 44.5%;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 25px;
}

.reviews__item-title {
  display: block;
  font-family: 'Cuprum','Arial',sans-serif;
  font-size: 38px;
  line-height: 82px;
}

.reviews__title {
  margin-bottom: 65px;

  font-family: 'Cuprum','Arial',sans-serif;
  font-size: 50px;
  line-height: 62px;
}

.reviews__item-name-date {
  padding-left: 14%;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-bottom: 12px;
  font-family: 'cuprumbold', 'Arial', sans-serif;
  font-size: 25px;
  line-height: 22px;
  color: #273c55;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -28px;
    width: 56px;
    height: 56px;
    background-color: #ededed;
    border-radius: 50%;
  }
}

.reviews__item-name-date--pic {
  &::before {
    background: url("../img/04-reviews/user-pic-small.png") no-repeat center;
  }
}


.reviews__item-date {
  display: block;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 22px;
  color: @gray-color;
}

.reviews__btn-full {
  display: none;
}

.reviews__item--brief .reviews__btn-full {
  display: inline-block;

}

.reviews__pages {
  margin-top: 85px;

  &--events {
    margin-top: 10px;
  }
  &--gifts {
    margin-top: 50px;
  }

}


//Write all styles for small desktop and big tablet
@media (max-width: @desctopWidth)  {
  .reviews {
  }

}

//Write all styles for tablet
@media (max-width: @mediumWidth) {
  .reviews {
  }
}

//Write all styles for mobile
@media (max-width: @tabletWidth) {
  .reviews {
  }
}